:root {
  --side-bar-width: 300px;
  --default-font-size-number: 15;
  --default-font-size-px: calc(var(--default-font-size-number) * 1px);
  font-size: var(--default-font-size-px);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}

.input-group-text {
  min-width: 50px;
  justify-content: center;
}

.input-text-inline-position {
  right: 3rem;
  left: 3rem;
}

.input-group-pad {
  padding-right: calc(1.5rem + var(--bs-gutter-x) * 0.5) !important;
  /*//todo: calculate right padd*/
}

#details .form-control:not([data-preseve-border]) {
  border: 0;
  padding: 0;
}

#details textarea.form-control {
  min-height: 24px;
  height: auto;
}

#details textarea.form-control[data-main-row-title] {
  min-height: 36px;
  height: auto;
}

#details .form-control:focus {
  box-shadow: none;
}

.group-item-height {
  min-height: calc(
    1rem * calc(45 / var(--default-font-size-number))
  ); /* desired 45px height with rem. practical? maybe.. */
}

.account-icon {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--bs-primary);
  cursor: pointer;
}

.flex-basis-0 {
  flex-basis: 0;
}

.form-control-after-search {
  position: absolute;
  right: calc(1rem + 5px);
}

#list .list-group-item {
  padding: 0.75rem 0.5rem 0.75rem 1.5rem;
}

#list .accordion-button {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

#list .accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  color: var(--bs-dark);
}

.bg-badge-light {
  background-color: #d1d2d4;
}

.group-item-ms {
  margin-left: 2.5rem !important;
}

#list .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: unset !important;
  color: var(--bs-body-color);
}

.list-group-item-action:active,
.list-group-item-action:hover,
.list-group-item-action:focus {
  background-color: #e2e3e5 !important;
}


.col-check-width {
  width: 50px;
  min-width: 50px;
}

.stable-scroll {
  scrollbar-gutter: stable;
}

.py-xl {
  padding-top: 2.75rem !important;
  padding-bottom: 2.75rem !important;
}
.pt-xxl {
  padding-top: 5rem !important;
}

.list-info-height {
  height: 5rem;
}

.blur-backdrop {
  backdrop-filter: blur(3px);
}

.bg-blueish {
  --bs-bg-opacity: 1;
  background-color: rgba(135, 135, 221, var(--bs-bg-opacity)) !important;
}

.z-index-1 {
  z-index: 1;
}
