:root {
  --side-bar-width: 300px;
  --default-font-size-number: 14;
  --default-font-size: calc(var(--default-font-size-number) * 1px);
  font-size: var(--default-font-size);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}

.input-group-text {
  min-width: 50px;
  justify-content: center;
}

.input-text-inline-position {
  right: 3rem;
  left: 3rem;
}

.input-group-pad {
  padding-right: calc(1.5rem + var(--bs-gutter-x) * 0.5) !important;
  /*//todo: calculate right padd*/
}

#details .form-control:not([data-preseve-border]) {
  border: 0;
  padding: 0;
}

#details textarea.form-control {
  min-height: 24px;
  height: auto;
}

#details textarea.form-control[data-main-row-title] {
  min-height: 36px;
  height: auto;
}

#details .form-control:focus {
  box-shadow: none;
}

.group-item-height {
  min-height: calc(
    1rem * calc(45 / var(--default-font-size-number))
  ); /* desired 45px height with rem. practical? maybe.. */
}
